<footer class="footer">
    <a href="/"><img class="footer__logotipo" src="/src/assets/images/logo-footer.svg" alt="Logotipo del Principado de Asturias"></a>
    <div class="footer__legal">
        <nav>
            <ul class="footer__links-list">
                <li class="footer__item"><a class="footer__link" href="/">Aviso legal</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Turismo</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Contacto</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Accesibilidad</a></li>
            </ul>
        </nav>
        <p class="footer__legal-text">2024 © Diseño realizado por Omar Hevia Arbana para la asignatura HTML y CSS Herramientas II. Todos los derechos reservados</p>
    </div>
</footer>


