<footer class="footer">
    <a href="/"><img class="footer__logotipo" src="/src/assets/images/logo-footer.svg" alt="Logotipo del Principado de Asturias"></a>
    <div class="footer__legal">
        <nav>
            <ul class="footer__links-list">
                <li class="footer__item"><a class="footer__link" href="/">Aviso legal</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Turismo</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Contacto</a></li>
                <li class="footer__item"><a class="footer__link" href="/">Accesibilidad</a></li>
            </ul>
        </nav>
        <p class="footer__legal-text">2024 © Diseño realizado por Omar Hevia Arbana para la asignatura HTML y CSS Herramientas II. Todos los derechos reservados</p>
    </div>
</footer>

<!-- <footer>
    <div class="leftInfoSide">
        <picture>
           <source media="(max-width: 600px)" srcset="./../" >
            <source media="(min-width: 1200px)" srcset="./../img/logo-footer/logotipo-footer-1200w.svg" >
            <img  src="/src/assets/images/"  alt="Logotipo del Principado de Asturias">
        </picture>
    </div>
    <div class="rightLegalSide">
        <ul>
            <li><a href="http://"></a>Aviso legal</li>
            <li><a href="http://"></a>Turismo</li>
            <li><a href="http://"></a>Contacto</li>
            <li><a href="http://"></a>Accesibilidad</li>
        </ul>
    </div>
</footer>  -->
