<header class="header">
    <picture>
        <source media="(min-width: 600px)" srcset="/src/assets/images/header-image/header-image-600w.png" >
        <source media="(min-width: 1200px)" srcset="/src/assets/images/header-image/header-image-1200w.png" >
    </picture>
    <nav class="header__navbar">
        <a href="/"><img class="header__navbar-logo" src="/src/assets/images/logo-header.svg" alt="Logotipo del principado de asturias"></a>
        <ul class="header__navbar-list">
            <li class=" header__navbar-item header__navbar-item--is-active"><a class="header__navbar-link" href="/">Inicio</a></li>
            <li class="header__navbar-item"><a class="header__navbar-link" href="/">Turismo activo</a></li>
            <li class="header__navbar-item"><a class="header__navbar-link" href="/">Ruta recomendada</a></li>
        </ul>
        <button class="header__navbar-button-toggle" aria-label="Toggle Menu"><i class="fa-solid fa-bars header__navbar-toggle"></i></button>
    </nav>
    <div class="header__presentation">
        <h1 class="header__presentation-title">Asturias un <span class="header__presentation-title--italic">paraíso</span> de rutas
            a tu alcance. </h1>
        <p class="header__presentation-text">Asturias cuenta con paisajes de ensueño en los que la naturaleza se convierte en el escenario ideal para la práctica del turismo activo y deportivo</p>
        <a class="header__presentation-button" href="http://">Descubre sus rutas</a>
    </div>
</header>

