@use "sass:color";

/* Fonts */

$font-family-serif: "DM Serif Display", serif;
$font-family-sans-serif: "Manrope", sans-serif;

/* Colors */

$primary-color: #B3DB8A;
$secondary-color: #556E56;
$text-color: #3B3B3B;
$white-color: #FFFFFF;
$background-color: #F4F5F4;
$background-footer: #E2E7EA;

/* Font Size */

$font-size-xs: 1rem; // 16px
$font-size-sm: 1.2rem; // 18px
$font-size-md: 2rem; // 32px
$font-size-lg: 3.1rem; // 48px
$font-size-xl: 5rem; // 80px

$font-letters-spacing-base: 0.6px;

/* Responsive */

$breakpoint-small-mobile: 390px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1200px;

/* Fontawesome */

$fa-font-path: './../../../node_modules/@fortawesome/fontawesome-free/webfonts';

